.body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .start {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  .mid {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
  }
  .h11 {
      margin: -8px;
  }
 .img-fluid-1 {
    max-width: 45%;
      height: auto;
  }
  .img-1 {
    max-width: 40%;
  }
  .start h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  .container {
    padding: 20px;
  }
.p1
{
   margin-top: inherit;
}
.city-name {
  position: absolute;
  top: 700px;
  left: -20px;
  color: rgba(0, 0, 0, 0.1);
  font-size: 145px;
  font-weight: bold;
  transform: rotate(-90deg);
  transform-origin: left top;
}
.navbar {
  padding: 20px 0;
  font-size: large;
  font-weight: bold;
}
.navbar-nav .nav-link {
  color: #333;
  font-size:x-large;
  text-align: left;
  font-weight: bold;
  margin-left: 20px;
}
.navbar-nav .nav-link:hover {
  color: #ff6347;
}
.img-2 {
  max-width: 220px; 
  height: auto; 
  border-radius: 10px;
}
.about-section {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  margin-top: 20px;
}
.p2 small {
  font-size: 1.25rem; 
  font-weight: bold;
  text-transform: uppercase;
}
.p2 p {
  font-size: 1rem;
  color: #6c757d;
}
  .t1 {
    text-align:justify;
    font-size: large;
    font-weight: bold;
  }
  .line {
    width: 17cm;
    height: 2px;
    background-color: grey; 
    margin: auto;
  }
  .line1 
  {
    width: 26cm;
    height: 2px;
    background-color: grey; 
    margin: left;
  }
  .fs-3 {
    font-size: 1.75rem;
    text-align: justify;
  }
  .c1 {
    max-width: 980px;
    margin: 0 auto;
    padding: 5px;
  }
  .card {
    transition: all 0.3s ease; 
    border: none;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
}

.card img {
    border-radius: 10px 10px 0 0;
}
.card-body {
    text-align: center;
}
.card:hover .card-text {
  color: red; 
}
footer {
  padding: 30px 0;
  background-color: #f8f9fa;
  text-align: center;
}
footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .start h1 {
    font-size: 35px;
    text-align: center;
  }
  .city-name {
    display: none;
  }
  .nav-link {
    font-size: medium;
    margin-left: 15px;
  }
  .img-2 {
    max-width: 70%;
    border-radius: 20px;
  }
  .img-1 {
    max-width: 80%;
  }
  .line {
    width: 9cm;
  }
  .line1 {
    width: 9.8cm;
  }
  .c1 {
    margin: auto;
  }
  .h-100 {
    max-width: 90%;
  }
  .row {
    justify-content: center;
  }
  .p2 {
    margin-top: 10px;
  }
  .fs-3 {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}
}